.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75vw;
}
.title {
  font-family: 'haus';
  font-size: 64pt;
  color:black;
  /* transform: rotate(45deg); */
}
.soon {
  font-family: 'haus';
  font-size: 48pt;
  color:black;
  margin-top: 50vh;
}
.rainy {
  font-family: 'hauskid';
  font-size: 128pt;
  color:black;
  height: 80vh;
}